package layout

templ Body() {
	<div class="max-w-7xl">
		<div class="chat chat-start">
			<div class="chat-bubble chat-bubble-primary">What kind of nonsense is this?</div>
		</div>
		<div class="chat chat-end">
			<div class="chat-bubble chat-bubble-success">Hello World!</div>
		</div>
	</div>
}
